<!-- Menu -->
<div ng-include="'components/navbar/navbar.html'"></div>

<!-- Page content -->
<div class="container-fluid">
  <div class="row-fluide">

    <!-- Game Management -->
    <div class="col-md-6">

      <div class="panel panel-default panel-games">

        <!-- Game creation and filter-->
        <div class="panel-heading">

          <div class="pull-right">
            <div class="btn-group game-filter-toolbar">
              <!-- Filter active -->
              <button class="btn btn-default btn-xs" ng-class="{active: stateFilter == '!Over'}" ng-click="stateFilter = '!Over'" type="button">
                Actives
              </button>
              <!-- Filter all -->
              <button class="btn btn-default btn-xs" ng-class="{active: stateFilter == 'Over'}" ng-click="stateFilter = 'Over'" type="button">
                Terminées
              </button>
            </div>
            <!-- Game creation -->
            <button class="btn btn-primary" ng-click="createGame()" type="button">
              Créer partie
            </button>
          </div>

          <div class="panel-title"><h5>Liste des parties</h5></div>

        </div>

        <!-- Game list -->
        <div class="panel-body">
          <div class="list-group list-games" ng-repeat="game in games | filter:{stateGame: stateFilter}">

            <div class="list-group-item" ng-click="select(game)" ng-class="{ active: game._id == currentGameId }">

              <!-- Actions buttons -->
              <div class="pull-right btn-group btn-group-sm">
                <button type="button" class="btn btn-danger" ng-show="game.canTrash()" ng-click="remove(game)">
                  <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                </button>
                <!--Supprimer-->
                <!--<button class="btn btn-xs btn-primary" ng-click="select(game)" type="button">Voir</button>-->
              </div>

              <!-- Game label -->
              <div class="bold">
                {{$index+1}} <span class="glyphicon glyphicon-arrow-right"></span> {{game.player1}} vs {{game.player2}}
                <button class="btn btn-primary btn-xs btn-success" ng-show="game.canJoin()" ng-click="join(game)" type="button">
                  Joindre
                </button>
              </div>

              <!-- Selected glyph -->
              <span class="selected-glyph glyphicon glyphicon-check"></span>
              <!-- Unselected glyph -->
              <span class="unselected-glyph glyphicon glyphicon-unchecked"></span>

            </div>
          </div>
        </div>

      </div>

      <div class="panel panel-default panel-scores">

        <!-- Titre list -->
        <div class="panel-heading">
          <div class="panel-title"><h5>Classement</h5></div>
        </div>

        <!-- Scores -->
        <div class="panel-body">
          <div class="list-group list-scores" ng-repeat="userScore in scores">
            <div class="list-group-item">

              <!-- Victoires -->
              <div class="pull-right btn-group btn-group-sm">
                <label>{{userScore.score}}</label>
              </div>

              <!-- Nom du joueur -->
              <div class="bold">
                {{$index+1}} <span class="glyphicon glyphicon-arrow-right"></span> {{userScore.name}}
              </div>

            </div>
          </div>
        </div>

      </div>

    </div>

    <!-- Gameboard panel -->
    <div class="col-md-6">
      <!--<div class="row-fluid">-->
      <!--class="pull-left"-->
        <div ui-view ></div>
      <!--</div>-->
    </div>

  </div>
</div>

<!-- Footer -->
<footer class="footer">
  <div class="container">
    <p>Angular Fullstack v2.0.13 |
      <a href="https://twitter.com/mdebonnaire">@mdebonnaire</a>
    </p>
  </div>
</footer>
