$size_tile: 100px;

.tile {
  width: $size_tile;
  height: $size_tile;
  border: 2px solid #abc8db;
  font-size: 75px;
  background: #abc8db;
background-image: -webkit-linear-gradient(top, #abc8db, #2980b9);
background-image: -moz-linear-gradient(top, #abc8db, #2980b9);
background-image: -ms-linear-gradient(top, #abc8db, #2980b9);
background-image: -o-linear-gradient(top, #abc8db, #2980b9);
background-image: linear-gradient(to bottom, #abc8db, #2980b9);

}

.bounce {
 	/* transition quand la souris quitte l'élément */
	transition: border-radius 2s;
}
.bounce:hover {
	transform: rotate(360deg);
	border-radius: 10%;
  border-width: 5px;
	/* transition quand la souris survole */
	transition: all 2s;
}
