$size_tile: 100px;

.tile {
  width: $size_tile;
  height: $size_tile;
  border: 2px solid #e7e7e7;
  font-size: 75px;
  background: #e7e7e7;
  background-image: -webkit-linear-gradient(top, #e7e7e7, #FFFFFF);
  background-image: -moz-linear-gradient(top, #e7e7e7, #FFFFFF);
  background-image: -ms-linear-gradient(top, #e7e7e7, #FFFFFF);
  background-image: -o-linear-gradient(top, #e7e7e7,#FFFFFF);
  background-image: linear-gradient(to bottom, #e7e7e7, #FFFFFF);

}
.tileHide {
 position:absolute;
 z-index:9998;
 top:0;
 left:0;
 width:100%;
 height:100%;
 background-color:#FFFFFF;
 opacity: 0.2;
}
.tileMessage {
  position:absolute;
  z-index:9999;
  top:50%;
  color: white;
  left:0;
  width:300px;
  height:30%;
  background-color:#000000;
  opacity: 1;
}

.bounce {
 	/* transition quand la souris quitte l'élément */
	transition: border-radius 2s;
}
.bounce:hover {
	transform: rotate(90deg);
	border-radius: 10%;
  border-width: 5px;
  border-color: black;
	/* transition quand la souris survole */
	transition: all 1s;
}

.tictactoeContainer {
  width: 600px;
  height: 600px;
}
